* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    &::selection {
        background-color: #fb8c24ad;
    }
}
body {
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #4f5d75;
}
.main {
    color: white;
    .title {
        text-align: center;
        padding: 15px 0;
        color: #ef8354;
        background-color: #2d3142;
    }
    .item-slider {
        .empty {
            height: 250px;
            padding: 15px 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
        }
        .slide {
            padding: 15px 45px;
            display: flex;
            align-items: center;
            flex-direction: column;
            height: 250px;
            &:focus {
                outline: none;
            }
            h3,
            h4 {
                display: flex;
                justify-content: center;
                align-items: center;
                color: #2d3142;
            }
            .slide-wraper {
                padding: 15px;
                background-color: #bfc0c0;
                height: 100%;
                border-radius: 10px;
            }
        }
    }
    .tab-title {
        text-align: right;
        margin-top: 60px;
        font-size: 22px;
    }
    .tab-des {
        text-align: right;
        margin-bottom: 30px;
    }
    .nav-tabs {
        display: flex;
        justify-content: flex-end;
    }
    .nav-tabs > li.active > a {
        background-color: #bfc0c0;
        border: 1px solid #bfc0c0;
    }
    .nav-tabs > li > a {
        color: #2d3142;
        font-weight: bold;
    }
    .nav > li > a:hover {
        background-color: #bfc0c0;
        border: 1px solid #bfc0c0;
    }
    .edit-item {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        .popUp {
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(255, 255, 255, 0.555);
            position: fixed;
            display: flex;
            justify-content: center;
            align-items: center;
            .close {
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: 2;
                cursor: default;
            }
            .popUp-wraper {
                position: relative;
                z-index: 3;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 50%;
                height: 300px;
                background-color: #2d3142;
                border-radius: 15px;
                padding: 15px;
                input {
                    height: 40px;
                    line-height: 40px;
                    margin: 0px 15px 25px;
                    font-size: 18px;
                    color: #2d3142;
                    font-weight: bold;
                    text-align: center;
                    transition: 0.4s;
                    border: none;
                    box-shadow: 0px 0px 8px #4f5d75;
                    &:hover,
                    &:focus {
                        box-shadow: 0px 0px 20px #798baa;
                        border: none;
                        outline: none;
                    }
                }
                button {
                    background-color: #ef8354;
                    padding: 15px 30px;
                    border: none;
                    outline: none;
                    border-radius: 30px;
                    font-weight: bold;
                    font-size: 18px;
                    transition: 0.4s;
                    &:hover,
                    &:focus {
                        box-shadow: 0px 0px 10px #798baa;
                    }
                }
            }
        }
    }
    .add-item {
        display: flex;
        justify-content: center;
        padding: 30px 15px;
        .add-wraper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50%;
            height: 300px;
            background-color: #2d3142;
            border-radius: 15px;
            padding: 15px;
            input {
                height: 40px;
                line-height: 40px;
                margin: 0px 15px 25px;
                font-size: 18px;
                color: #2d3142;
                font-weight: bold;
                text-align: center;
                transition: 0.4s;
                border: none;
                box-shadow: 0px 0px 8px #4f5d75;
                &:hover,
                &:focus {
                    box-shadow: 0px 0px 20px #798baa;
                    border: none;
                    outline: none;
                }
            }
            button {
                background-color: #ef8354;
                padding: 15px 30px;
                border: none;
                outline: none;
                border-radius: 30px;
                font-weight: bold;
                font-size: 18px;
                transition: 0.4s;
                &:hover,
                &:focus {
                    box-shadow: 0px 0px 10px #798baa;
                }
            }
        }
    }
    .delete-item {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        .item-wraper {
            &::after {
                content: "برای حذف محصول کلیک کنید";
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: #ef8254e1;
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                padding: 15px;
                font-weight: bold;
                font-size: 18px;
                visibility: hidden;
                opacity: 0;
                transition: 0.4s;
            }
            &:hover {
                &::after {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
    .item-wraper {
        position: relative;
        width: 200px;
        height: 300px;
        background-color: #2d3142;
        margin: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #bfc0c0;
        position: relative;
        cursor: pointer;
        .hover {
            width: 100%;
            height: 100%;
            position: absolute;
            visibility: hidden;
            opacity: 0;
            background-color: #ef8254b9;
            transition: 0.4s;
        }
        &:hover .hover {
            visibility: visible;
            opacity: 1;
        }
    }
}
