.orders .orders-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 20px;
}

.orders .orders-wraper .order {
  margin: 15px 10px;
  position: relative;
}

.orders .orders-wraper .order #order-edit-icon {
  position: absolute;
  left: 5px;
  top: 5px;
  padding: 5px;
  color: #2d3142;
  cursor: pointer;
  z-index: 1;
}

.orders .orders-wraper .order #order-edit-icon:hover ~ .orderCard {
  background-color: #787d86;
}

.orders .orders-wraper .orderCard {
  width: 300px;
  height: 300px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: #bfc0c0;
  color: #2d3142;
}

.orders .orders-wraper .orderCard .wraper {
  padding: 15px;
}

.orders .orders-wraper .orderCard .orderList,
.orders .orders-wraper .orderCard .time,
.orders .orders-wraper .orderCard .info,
.orders .orders-wraper .orderCard .status {
  margin-bottom: 10px;
}

.orders .orders-wraper .orderCard .order-title {
  text-align: right;
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.orders .orders-wraper .orderCard .order-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.orders .orders-wraper .orderCard .order-wraper span {
  padding: 2px 5px;
  direction: rtl;
}

.orders .popUp {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.555);
  position: fixed;
  z-index: 7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.orders .popUp .close {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  cursor: none;
}

.orders .popUp #order-close-icon {
  position: absolute;
  color: #2d3142;
}

.orders .popUp .popUp-wraper {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 400px;
  background-color: #2d3142;
  border-radius: 15px;
  padding: 15px;
}

.orders .popUp .popUp-wraper > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 15px;
  margin-bottom: 10px;
}

.orders .popUp .popUp-wraper > div span {
  padding: 0 10px;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
}

.orders .popUp .popUp-wraper > div label {
  padding: 2px;
  margin-bottom: 0;
  cursor: pointer;
}

.orders .popUp .popUp-wraper > div label:nth-of-type(2) {
  margin-left: 30px;
}

.orders .popUp .popUp-wraper > div select {
  color: #2d3142;
  text-align: center;
}

.orders .popUp .popUp-wraper button {
  background-color: #ef8354;
  padding: 15px 30px;
  border: none;
  outline: none;
  border-radius: 30px;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin: 7px;
}

.orders .popUp .popUp-wraper button:hover, .orders .popUp .popUp-wraper button:focus {
  -webkit-box-shadow: 0px 0px 10px #798baa;
          box-shadow: 0px 0px 10px #798baa;
}

.orders .popUp .popUp-wraper button:disabled {
  cursor: not-allowed;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #fcbca2;
}

.orders .filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 30px;
  direction: rtl;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.orders .filters .filter-btn {
  background-color: #2d3142;
  padding: 10px 30px;
  direction: rtl;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer;
}

.orders .filters .filter-btn:hover {
  color: #787d86;
}

.orders .filters .filters-wraper {
  background-color: #2d3142bb;
  width: 100%;
  margin: 15px 0;
  height: 0;
  overflow: hidden;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.orders .filters .filters-wraper p {
  margin: 15px 15px 0px;
}

.orders .filters .filters-wraper .filterBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 15px;
}

.orders .filters .filters-wraper .filterBox span {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  padding: 5px;
}

.orders .filters .filters-wraper .filterBox span label {
  padding: 5px;
  margin-bottom: 0;
  cursor: pointer;
}

.orders .filters .filters-wraper .filterBox span input {
  cursor: pointer;
  margin-top: 0;
}

.orders .filters .filters-wraper .filterBox span:hover {
  background-color: #2d3142b0;
}

.orders .filters .active {
  height: 300px;
}
/*# sourceMappingURL=order.css.map */