.orders {
    .orders-wraper {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        .orderCard {
            width: 300px;
            margin: 15px;
            height: 300px;
            background-color: #bfc0c0;
            color: #2d3142;
            .wraper {
                padding: 15px;
            }
            .orderList,
            .time,
            .info,
            .status {
                margin-bottom: 10px;
            }
            .order-title {
                text-align: right;
                display: block;
                font-weight: bold;
                margin-bottom: 5px;
            }
            .order-wraper {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                span {
                    padding: 2px 5px;
                    direction: rtl;
                }
            }
        }
    }
}
